*{
    margin: 0;
    padding: 0;
}
/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 64px;
    color: #FFFFFF;
    padding: 10px;
    line-height: 80px;
    padding-left: 60px;
}
h2{
    font-size: 28px;
}
p{  padding-top: 10px;
    font-size: 16px;
}
h2, p{

    padding-left: 16px;
}

.heading{
    padding: 30px;
   
}
article{
    margin-left: 180px;
    margin-top: 70px;
    margin-right: 210px;
    
}
/*--------------
 container 
 ---------------*/
.container{
    display: flex;
    background-color: rgb(0, 32, 214);
    align-items: center;
}

.container img{
    width: 556.01px;
    height: 438px;
    padding-left: 215px;
    padding-top: 153px;
    padding-bottom: 86px
    
}
button{
    border: 1px solid #E02C6D;
    margin-left: 90px;
    color: #FFFFFF;
    background: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 26px;
}
.fa-arrow-right{
    color: #FFFFFF;
    margin-left: 10px;
}

/*----------
     players
--------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    grid-column-gap: 30px;
    
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    margin: 16px;
}

/* footer */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.footer-logo img{

    width: 484px;
    height: 110px;
    padding-top: 158px;
    

}
.footer-icon{
    width: 32px;
    height: 32px;
    
   
}
.social-icon img{
    display: inline;
    width: 32px;
    height: 32px;
    flex-direction: row;
    margin: 0px 10px;
    padding-top: 20px;
    
    
}
.footer-bottom{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 63px;
    
}
